#works {
  .workSwiper {
    max-height: 45vh;
    margin: 5vh 0;

    .swiper-wrapper {
      display: flex;
      justify-content: start;
    }

    .swiper-slide {
      width: 60vw;
  
      h2 {
        color: var(--red);
        font-weight: bold;
        font-size: 110%;
      }
  
      h4 {
        font-weight: 200;
      }
  
      li {
        margin-bottom: 1vh;
      }
  
      li:before {
        position: relative;
        top: .75vh;
        margin-right: 2vw;
      }
  
      .work_title {
        margin-bottom: 4vh;
      }
    }
    
    .swiper-pagination-bullet-active {
      background: var(--red);
    }
  }
}